@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


:root {
    --fonte1: arial, verdana, tahoma, sans-serif;
    --fonte2: 'Sriracha';
    --fonte3: 'Passion One', cursiva;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    text-align: center;
    color: white;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

section {
   font-family: var(--fonte2);
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em;
   padding-left: 40px;
   font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;

}

section.imagem {
    background-color: rgb(189, 189, 189);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 6px;
}

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
